.recipeTile:hover {
  background-color: #54c57a;
}

.recipeTile {
  border-top: 2px solid black;
  padding-right: 0px;
  padding-top: 2px;
  margin: 3px;
}

.grid{
	display: flex;
	display: -webkit-flex; /* Support for older browsers */
  flex-flow: column;
  justify-content: baseline;
  border-right: solid;
  border-width: 2px;
  margin: 10px;
  width: 33.33%;
}

#search-pic {
  display: flex;
  width: 5%
}

#submitpic:active {
  background-color: #54c57a;

}

.display {
  width: 50%;
  align: center;
}

#navbartitle {
  font-family: 'Pacifico', cursive;
  font-size: 20pt;
  margin: 1%;
}

#searchbar input:focus {
  border:1px solid black;
  box-shadow: 0 0 10px #719ECE;
}

.form {
  width: 100%;
}

.search2 {
  width: 33.33%;
  font: 10px;
  display: block;
  padding-top: 0px;
  padding-bottom: 8px;
  padding-left: 0px;
}

.search2 { position: relative; width:25%; }
.search2 input { border:none; background:#fff; display:block; width: 100%; box-sizing: border-box }
.search2 img { position: absolute; top: 2px; right: 5px }

#navbartitle {
  align: right;
  padding-left: 70px;
}

#borderIcon {
  align: left;
  padding-left: 15px;
  padding-top: 10px;
  width: 40px;
}

#navbarholder {
    background-color: #54c57a;
    width: 100%''
}

#input-text {
  font: 10px;
  display: block;
  width: 33.33%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}
