#root {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  height: 100vh;
  width: 100vw;
}

#navbarholder {
  display:grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(10, 10%);
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
  background-image: linear-gradient(to right, rgba(255,0,0,.2) , rgba(200,80,100,.7));
  border-bottom: black 5px solid;
}

#borderIcon {
  display: grid;
  grid-row-start: 1;
  grid-column-start: 1;
  align: left;
  padding-left: 15px;
  padding-top: 10px;
  width: 50px;
  padding-bottom: 5px;
}

#cooklinks {
color: black;
font-family: 'Pacifico', cursive;
display: grid;
grid-column: 19/ 20;
grid-row-start: 3;
}

#reclinks {
font-family: 'Pacifico', cursive;
color: black;
display: grid;
grid-column: 18 / 19;
grid-row-start: 3;
}

#navbartitle {
  display: flex;
  grid-row-start: 4;
  grid-column-start: 2;
  color: black;
  font-family: 'Pacifico', cursive;
  font-size: 20pt;
}

#homepage {
  background-image: url('https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-0.3.5&s=b6b4ac322517d8d4a3565438ed23d376&auto=format&fit=crop&w=931&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  height: 100vh;
  width: 100vw;
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 12;
}

#home-page-text {
  grid-row-start: 4;
  grid-column-start: 5;
  grid-column-end: 9;
  text-align: center;
  color: black;
  font-family: 'Indie Flower', cursive;
  font-size: 22pt;
  font-weight: bold;
}

.recipescontainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(10, 10%);
  grid-template-columns: repeat(10, 10%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.recipescontainerimg {
  opacity: .3;
  z-index: -1;
}

.recipe-tile-display {
  grid-row-start: 2;
  grid-row-end: 12;
  grid-column-start: 5;
  grid-column-end: 8;
  background-color: white;
  border: 5px solid black;
  border-radius: 10px;
  box-shadow: -10px 10px #888888;


}

#search-form {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-column-end: 8;
}

#search-wrapper {
  background-color: rgba(0, 0, 0, 0);
  grid-column-start: 3;
  opacity: .7;
}


#search-input {
  height:33px; margin:0; padding-left: 46px;
  width: 100%;
}

#search-pic {
  position: relative; bottom:29px; left:5px; width:25px; height:25px;
}

.mapped-recipes {

  background-color: rgba(255, 0, 0, .1);
  padding: 5px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 14;
  border-right: black 3px solid;
  font-size: 14pt;
}

.recipeTile {
  padding: 5px;
  font-family: 'Shadows Into Light', cursive;
}

.recipeTile:hover {
  border-radius: 10px;
  box-shadow: -5px 10px #888888;
  background-color: rgba(255, 0, 0, 0.3);
}

#userrecipescontainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(10, 10%);
  grid-template-columns: repeat(10, 10%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.recipe-tile-display {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 12;
  background-color: rgba(255, 217, 179, .4);
}

#formsubmit {
  grid-column-start: 9;
}

#alluserrecipes {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 12;
  font-family: 'Shadows Into Light', cursive;
  padding: 7px;
  font-size: 14pt;
}

#alluserrecipes:hover {
  border-radius: 10px;
  box-shadow: -5px 10px #888888;
  background-color: rgba(0, 0, 0, 0.3);
}

.linkdisplay{
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start:1;
  grid-row-end: 2;
  background-color: rgba(255, 0, 0, 0.0);
}

.fooddisplay {
  border-radius: 4px;
}

#formsubmit {
  border: black solid 5px;
  grid-column-start: 9;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 6;
  border-radius: 10px;
  background-color: rgba(255, 217, 179, 0.4);
}

div.hidden {
    
}
